body{
    margin:0;
    color:#000000;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

section{
    width: 100vw;
}
a{
    text-decoration: none;
    color: #000000;
}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 142px 25px 142px;
}
.top__search{
    border-bottom: 1px solid #000;
}
.top__search i{
    cursor: pointer;
    padding-bottom: 5px;
}
.top__search input{
    border: none;
    padding-left: 10px;
}
.top__user span{
    padding: 10px;
    font-size: 12px;
}
.top__user i{
    padding:10px
}
.top__user a:hover{
    border-bottom: 2px solid #E0FF04;
    font-weight: bold;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 16px;
    padding-bottom: 30px;
    border-bottom: 1px solid #bbbbbb;
}
.navigation > li{
    display: inline;
    padding-left: 50px;
}
.navigation > li:hover {
    border-bottom: 2px solid #E0FF04;
    font-weight: bold;
}
.navigation:first-child{
    padding-left: 0;
}
.navigation__by-brand, .navigation__by-collection{
    position: relative;
}
.dropdown {
    position: absolute;
    z-index: 100;
    top:0;
    left: 20px;
    padding-top: 40px;
    width: 250px;
    font-size: 16px;
    list-style: none;
}
.dropdown > li{
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 50px;
    background-color: #ffffff;
}
.dropdown > li > a > span:hover{
    border-bottom: 3px solid #E0FF04;
    font-weight: bolder;
}
.navigation__by-brand__dropdown{
    opacity: 0;
    visibility: hidden;
    transition: all .9s ease;
}
.navigation__by-brand:hover .navigation__by-brand__dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.navigation__by-collection__dropdown{
    opacity: 0;
    visibility: hidden;
    transition: all .9s ease;
}
.navigation__by-collection:hover .navigation__by-collection__dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.banner{
    position: relative;
}
.banner > img{
    width:100%;
}
.banner__img{
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 40%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__img a{
    display: block;
}
.banner__img img{
    width: 80%;
}
.banner__img span{
    color: #ffffff;
    padding-left: 60px;
}
.banner__img i{
    color: #E0FF04;
}
.banner__text{
    display: flex;
    width: 100%;
    padding: 50px 0;
    background-color: #E0FF04;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

.new-in{
    padding-top: 120px;
}
.new-in__text, .best-seller__text{
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #E0FF04;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.new-in__text span, .best-seller__text span{
    background-color: white;
    display: inline;
    margin: 0;
    padding: 0 30px;
    font-size: 22px;
}
.new-in__slider, .best-seller__slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    overflow: hidden;
}
.new-in__slider > .arrow,
.best-seller__slider > .arrow{
    border:none;
    background-color: #ffffff;
}
.new-in__slider > .arrow > i,
.best-seller__slider > .arrow > i{
    color: #E0FF04;
    font-size: 22px;
}
.slider{
    overflow: hidden;
    width: 1630px;
    margin-left: 0;
}
.slider > ul{
    height: 520px;
    width: 1630px;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.slider__item{
    height: 510px;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slider__item:hover .name{
   font-weight: bold;
}
.slider__item__text{
    text-align: center;
    position: relative;
}
.slider__item__text > .name{
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 0;
}
.new-in .slider__item__text .name {
    -webkit-text-stroke: 2px #999999;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: .1em;
    -webkit-text-stroke-color: #999999;
}
.slider__item__text > .brand{
    color: #999999;
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 0;
}
.slider__item__text > .price{
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 0;
}
.slider__item__text > button {
    border: none;
    background-color: white;
}
.slider__item__text > button > span{
    border-bottom: 3px solid #E0FF04;
}
.slider__item__text .slider-heart{
    position: absolute;
    top:0;
    right: -40px;
}
.slider-heart__yellow{
    color:#E0FF04;
}

.area-6x{
    display:flex;
    padding: 100px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.area-6x__item{
    width: 535px;
    height: 530px;
    margin: 10px 0 10px 10px;
    background: url("../img/AREA-6X.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.area-6x__item:hover h2{
   color:#E0FF04;
}
.area-6x__item h2{
    font-size: 50px;
    margin-bottom: 13px;
    margin-top: 0;
}
.area-6x__item a{
    color: white;
}
.outerwear{
    background-position: 0 0;
}
.skis{
    background-position: -550px 0;
}
.knitwear{
     background-position: -1100px 0;
}
.accessories{
    background-position: 0 -550px;
}
.goggles{
    background-position: -550px -550px ;
}
.jackets{
    background-position: -1100px -550px;
}

.instagram{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
}
.instagram__item{
    width: 14%;
    height: 14%;
    margin: 10px 0 10px 10px;
    cursor: pointer;
}
.instagram__koiski{
    position: absolute;
    top: 45%;
    left: 43%;
    background-color: #E0FF04;
}
.instagram__koiski > h2{
    font-size: 47px;
    margin: 10px 50px;
}

.foot{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #E0FF04;
}
.foot-nav{
    padding: 50px 150px;
}
.foot__nav{
    list-style: none;
    padding: 50px 0;
    margin: 0;
}
.foot__nav > li{
    display: inline-block;
    padding-right: 60px;
}
.foot__info{
    width: 530px;
    padding: 50px 150px 25px 0;
}
.foot__info >form > input{
    width: 100%;
    height: 45px;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}
.foot__info #gdpr{
    width: 15px;
    height: 15px;
}
.foot__info button{
    display:block;
    color:#000000;
    padding: 10px 0;
    background: #E0FF04;
    border: none;
}
.foot__info .made-by{
    float: right;
}

@media (max-width: 1730px) {
    .slider{
        width: 1210px;
    }
}
@media (max-width: 1650px) {
    .foot__nav> li {
        padding-right: 20px;
    }
}
@media (max-width: 1490px) {
    .foot__info {
        padding-bottom: 25px;
        padding-right: 50px;
    }
    .foot-nav{
        padding: 50px 0 50px 50px;
    }
}
@media (max-width: 1350px) {
    .slider{
        width: 800px;
    }
}
@media (max-width: 1290px) {
    .area-6x__item{
        width: 450px;
        height: 450px;
    }
}
@media (max-width: 1285px){
    .foot__info{
        width: 430px;
    }
}
@media (max-width: 1120px) {
    .foot__nav > li{
        display: block;
        padding-top: 20px;
    }
    .instagram{
        padding-top: 50px;
    }
    .area-6x{
        padding: 50px 100px;
    }
    .new-in{
        padding-top: 50px;
    }
}
@media (max-width: 1085px) {
    .top__search, .top__user > a, .top__user span{
        display: none;
    }
    .area-6x__item{
        width: 370px;
        height: 370px;
    }
    .foot > div:first-child{
        padding-bottom: 0;
    }
}
@media (max-width: 1000px) {
    .slider{
        width: 400px;
    }
    .banner__text{
        padding: 0;
    }
    .area-6x__item{
        width: 335px;
        height: 330px;
    }
}




